.head-style{
	color: #1b61ff96;
    background: #e2dddd;
    padding: 15px;
    display: inline-block;
    border-radius: 11px;
}
.font-access{
	font-size: 20px;
	cursor: auto;
	display: block;
	margin: 18px 0;
	font-weight: bold;
}
.font-access1{
	display: inline;
}
html{
	height:100%;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center black;
}
